.project-card {

  padding: 2rem;
  height: 100%;
  display: flex;


  .container {
    display: flex;
    width: 90%;



    .description {
      display: flex;
      margin: 4rem;
      align-self: center;
    }
  
    img {
      height: 20rem;
      width: 45;
      padding: 1rem;
      }
  }

}

.left {
  flex-direction: row;
  
  .container {
    border-radius: 2rem 0 0 2rem;
    img {
      margin-left: auto;
   }
  }
 
}

.right {
  flex-direction: row-reverse;

  .container {
    border-radius: 0 2rem 2rem 0;
    flex-direction: row-reverse;
    img {
      margin-right: auto
    }
  }
  
}

.prod-Title {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 0.3rem;
}

.prod-Title:hover {
  text-decoration: underline;
  color: hotpink;
  letter-spacing: 0.5rem;
}



